@charset "UTF-8";
/*Toolkit graphique principal
==================================================*/
/*Toolkit graphique menu note enchantée
==================================================*/
/*Toolkit graphique menu chic à la française
==================================================*/
/*Toolkit graphique menu le délice des papilles
==================================================*/
/*Toolkit graphique menu la palette du goût
==================================================*/
/*ci-dessous le paramètrage du tremblement des éléments du footer*/
* {
  margin: 0 auto;
  box-sizing: border-box;
}

.header__logo-colors {
  font-size: 45px;
  font-weight: 700;
}

.bandeau {
  font-size: 28px;
}

footer {
  font-weight: 500;
  font-size: 22px;
}

.logo-colors {
  padding: 20px;
  text-align: center;
  color: #ffc107;
  background: #289169;
  font-family: "Montserrat", sans-serif;
}

.conteneur {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 80px;
}

.main_contain {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 200px;
  border: 1px #efefef solid;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}

.section_container_menu {
  padding-bottom: 1em;
}

.deco_bar {
  display: flex;
  padding: 15px 50px;
  line-height: 1em;
  justify-content: space-between;
}

.menu {
  display: flex;
  line-height: 1.8em;
}
.menu__texte {
  margin-left: 60px;
  flex: 1;
}
.menu__prix {
  margin-right: 60px;
}

.menu_bas {
  margin-left: 60px;
  line-height: 1.8em;
}

.bottom {
  /*Un espacement vertical en bas de page pour le menu "papilles" et "palette"*/
  margin-bottom: 30px;
}

.large {
  /*Travail sur la font du menu "palette"*/
  font-size: 25px;
}

/*MEDIA QUERIES
==============================================================================*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .barre {
    /*Les décorations autour du nom des menus ne s'afficheront pas*/
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .section_container_menu {
    margin-left: 10px;
    margin-right: 10px;
  }

  .note-menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .note-menu__titre {
    font-size: 25px;
  }

  .francaise-menu-appetit, .francaise-menu-plaisir, .francaise-menu-gourmand {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .papilles-menu-commencer, .papilles-menu-continuer, .papilles-menu-terminer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #3f49b5;
  }

  .palette-menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #51b04a;
  }

  .menu {
    display: block;
    line-height: 1.8em;
  }
  .menu__texte {
    margin-left: auto;
    text-align: center;
  }
  .menu__prix {
    margin-left: 60px;
    text-align: center;
  }

  .menu_bas {
    margin-left: auto;
    text-align: center;
    line-height: 2.4em;
  }

  .mentions {
    display: block;
    width: 100%;
  }
}
/*CI-DESSOUS LE CODE POUR L'EFFET DE ZOOM AU SURVOL DU MENU
===================================================================*/
.zoom-hover {
  overflow: hidden;
  position: relative;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-left: 10px;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}

.zoom-hover .zoom-hover__box {
  max-width: 100%;
  transition: all 0.8s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.zoom-hover .zoom-hover__box:hover {
  transform: scale(1.15);
  transition: transform 0.25s;
}

/*================================================================*/
.note {
  background-color: #f8e2df;
  font-family: "Devonshire", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #efefef solid;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .note {
    width: 340px;
    height: 380px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .note {
    width: 380px;
    height: 420px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .note {
    width: 460px;
    height: 520px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .note {
    width: 620px;
    height: 660px;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .note {
    width: 820px;
    height: 880px;
  }
}
@media screen and (min-width: 2561px) {
  .note {
    width: 480px;
    height: 540px;
  }
}
.note__titre {
  color: #5e1d14;
  font-family: "Devonshire", sans-serif;
  font-size: 42px;
  font-weight: 100;
}
.note__menu {
  color: #5e1d14;
  font-family: "Kalam", sans-serif;
  font-size: 50px;
  text-align: center;
}

.cle {
  background: linear-gradient(to top right, #fa4b4b, #fa5650, #fb996d, #fba472, #fcb076, #fcbb7b, #fcc680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.chic {
  background-color: #fce4;
  font-family: "Redressed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #efefef solid;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .chic {
    width: 340px;
    height: 380px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .chic {
    width: 380px;
    height: 420px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .chic {
    width: 460px;
    height: 520px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .chic {
    width: 620px;
    height: 660px;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .chic {
    width: 820px;
    height: 880px;
  }
}
@media screen and (min-width: 2561px) {
  .chic {
    width: 480px;
    height: 540px;
  }
}
.chic__titre {
  font-family: "Redressed", sans-serif;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
}
.chic__menu {
  margin-top: 20px;
  color: #6d5200;
  font-family: "Abril Fatface", sans-serif;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: 0.1em;
  text-align: center;
}

.papilles {
  background-color: #f5f5f5;
  font-family: "Alex Brush", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #efefef solid;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .papilles {
    width: 340px;
    height: 380px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .papilles {
    width: 380px;
    height: 420px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .papilles {
    width: 460px;
    height: 520px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .papilles {
    width: 620px;
    height: 660px;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .papilles {
    width: 820px;
    height: 880px;
  }
}
@media screen and (min-width: 2561px) {
  .papilles {
    width: 480px;
    height: 540px;
  }
}
.papilles__titre {
  background: linear-gradient(to right, #3f49b5, #4252b2, #7396c3, #7c9eca, #86a6d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
}
.papilles__menu {
  margin-top: 20px;
  color: #6a8ec3;
  font-family: "Caveat", sans-serif;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
}

.palette {
  font-family: "Kaushan Script", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #efefef solid;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .palette {
    width: 340px;
    height: 380px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .palette {
    width: 380px;
    height: 420px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .palette {
    width: 460px;
    height: 520px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .palette {
    width: 620px;
    height: 660px;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .palette {
    width: 820px;
    height: 880px;
  }
}
@media screen and (min-width: 2561px) {
  .palette {
    width: 480px;
    height: 540px;
  }
}
.palette__titre {
  background: linear-gradient(to right, #51b04a, #58b659, #5fbb69, #97df89, #a9eb8f, #a4d385);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
}
.palette__menu {
  margin-top: 20px;
  color: #5fbb69;
  font-family: "Caveat", sans-serif;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
}

a:link {
  text-decoration: none;
}

/*ANIMATIONS DES POINTS DE SUSPENSION DU TITRE PROCHAINEMENT
==============================================================*/
.next {
  display: flex;
  align-items: center;
  width: 40%;
  height: 80px;
  border-radius: 12px;
  margin-top: 100px;
  margin-bottom: 200px;
  color: #ffc107;
  background: #289169;
  font-family: "Montserrat", sans-serif;
}
.next__proche {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  font-size: 30px;
}
.next__points {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .next {
    width: 80%;
  }
  .next__proche {
    font-size: 16px;
    padding-left: 0px;
  }
  .next__points {
    font-size: 8px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .next {
    width: 60%;
  }
  .next__proche {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .next__points {
    font-size: 10px;
  }
}
.dot1 {
  animation: dot_anime 1.2s ease-in-out infinite;
  padding-right: 4px;
}

.dot2 {
  animation: dot_anime 1.2s 0.2s ease-in-out infinite;
  padding-right: 4px;
}

.dot3 {
  animation: dot_anime 1.2s 0.4s ease-in-out infinite;
  padding-right: 8px;
}

@keyframes dot_anime {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.4) translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  /*avec la position: fixed, le footer sera visible même au scrolling*/
  bottom: 0;
  color: #ffc107;
  background: #289169;
  font-family: "Montserrat", sans-serif;
}

.foot__gauche:hover {
  /*ci-dessous la mixin du tremblement des éléments du footer*/
  animation: shake 2s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.foot__droite:hover {
  /*ci-dessous la mixin du tremblement des éléments du footer*/
  animation: shake 2s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.foot__gauche, .foot__droite {
  margin: 0.3em 1.5em;
  text-decoration: none;
  color: #ffc107;
}

@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
  }
}
.ench {
  background-color: #f8e2df;
  color: #5e1d14;
}

.enchantee {
  text-align: center;
  font-family: "Devonshire", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.enchantee__titre {
  color: #5e1d14;
  font-family: "Devonshire", sans-serif;
  font-size: 42px;
  font-weight: 100;
}

/*CI-DESSOUS TRAVAIL SUR LE SOULIGNAGE AU SURVOL DES CATEGORIES MENUS
=============================================================================*/
.note-menu__titre {
  position: relative;
  padding-bottom: 10px;
  color: #5e1d14;
}
.note-menu__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #5e1d14;
}
.note-menu__titre:hover:after {
  width: 100%;
  left: 0;
  background: #5e1d14;
}

/*FIN DE LA SECTION TRAVAIL SUR LE SOULIGNAGE AU SURVOL DES CATEGORIES MENUS
=============================================================================*/
.font1 {
  font-family: "Kalam", sans-serif;
}

.key {
  background: linear-gradient(to top right, #fa4b4b, #fa5650, #fb996d, #fba472, #fcb076, #fcbb7b, #fcc680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
}

.note_bas {
  text-align: center;
  margin: 30px;
}

.titre {
  color: #5e1d14;
  font-family: "Devonshire", sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.fr {
  background-color: #fce4;
  /*color: echantenote_color($color_3);*/
}

.francaise_main {
  padding-top: 40px;
  padding-bottom: 40px;
}
.francaise_main__titre {
  font-family: "Redressed", sans-serif;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
}

.francaise-menu-appetit {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
.francaise-menu-appetit__titre {
  position: relative;
  color: #c67412ff;
  font-size: 21px;
}
.francaise-menu-appetit__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #c67412ff;
}
.francaise-menu-appetit__titre:hover:after {
  width: 100%;
  left: 0;
  background: #c67412ff;
}

.francaise-menu-plaisir {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
.francaise-menu-plaisir__titre {
  position: relative;
  color: #a56799ff;
  font-size: 21px;
}
.francaise-menu-plaisir__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #a56799ff;
}
.francaise-menu-plaisir__titre:hover:after {
  width: 100%;
  left: 0;
  background: #a56799ff;
}

.francaise-menu-gourmand {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
.francaise-menu-gourmand__titre {
  position: relative;
  color: #8b54c7;
  font-size: 21px;
}
.francaise-menu-gourmand__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #8b54c7;
}
.francaise-menu-gourmand__titre:hover:after {
  width: 100%;
  left: 0;
  background: #8b54c7;
}

.francaise-menu-appetit, .francaise-menu-plaisir, .francaise-menu-gourmand {
  font-weight: bold;
}

.gradient1 {
  color: #c67412ff;
  line-height: 2em;
}

.gradient2 {
  color: #a56799ff;
  line-height: 2em;
}

.gradient3 {
  color: #8b54c7;
  margin-bottom: 30px;
  line-height: 2.2em;
}

.palette_main__titre {
  background: linear-gradient(to right, #51b04a, #58b659, #5fbb69, #97df89, #a9eb8f, #a4d385);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
  margin: 30px 0px;
  font-size: 2.8em;
  font-family: "Kaushan Script", sans-serif;
}

.palette-menu {
  line-height: 1.4em;
}
.palette-menu__titre {
  position: relative;
  font-weight: 100;
}
.palette-menu__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #51b04a;
}
.palette-menu__titre:hover:after {
  width: 100%;
  left: 0;
  background: #51b04a;
}

.font4 {
  font-family: "Caveat", sans-serif;
  font-size: 1.3em;
}

.pap {
  background-color: #f5f5f5;
}

.papilles_main {
  font-family: "Alex Brush", sans-serif;
}
.papilles_main__titre {
  background: linear-gradient(to right, #3f49b5, #4252b2, #7396c3, #7c9eca, #86a6d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
}

.papilles-menu-commencer {
  font-size: 22px;
  font-weight: 100;
}
.papilles-menu-commencer__titre {
  position: relative;
}
.papilles-menu-commencer__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #3f49b5;
}
.papilles-menu-commencer__titre:hover:after {
  width: 100%;
  left: 0;
  background: #3f49b5;
}

.papilles-menu-continuer {
  font-size: 22px;
  font-weight: 100;
}
.papilles-menu-continuer__titre {
  position: relative;
}
.papilles-menu-continuer__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #4c77a8;
}
.papilles-menu-continuer__titre:hover:after {
  width: 100%;
  left: 0;
  background: #4c77a8;
}

.papilles-menu-terminer {
  font-size: 22px;
  font-weight: 100;
}
.papilles-menu-terminer__titre {
  position: relative;
}
.papilles-menu-terminer__titre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  background: #86a6d1;
}
.papilles-menu-terminer__titre:hover:after {
  width: 100%;
  left: 0;
  background: #86a6d1;
}

.font3 {
  font-family: "Caveat", sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
}

.mentions {
  display: flex;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}

.def {
  margin-left: 10px;
  color: #ffc107;
  background-color: #289169;
}

.mod {
  margin-right: 10px;
  padding-left: 5px;
}

.txt {
  color: #ffc107;
  background-color: #289169;
}

.bloc {
  margin: 20px;
  padding: 10px;
  line-height: 1.6em;
  box-shadow: 4px 0px 8px 5px #cdcdcd80;
}

/*# sourceMappingURL=style.css.map */
