.fr {
    background-color: $background_color_3;
    /*color: echantenote_color($color_3);*/
}
.francaise_main {
    padding-top: 30px;
    padding-bottom: 30px;
    &__titre {
        @include chic_titre_display;
    }
}
.francaise-menu-appetit {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    &__titre {
        position: relative;
        color: #c67412ff;
        font-size: 21px;
    &:after {
        @include underline;
        background: #c67412ff;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #c67412ff;
        }
    }
}
.francaise-menu-plaisir {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    &__titre {
        position: relative;
        color: #a56799ff;
        font-size: 21px;
    &:after {
        @include underline;
        background: #a56799ff;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #a56799ff;
        }
    }
}
.francaise-menu-gourmand {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    &__titre {
        position: relative;
        color: #8b54c7;
        font-size: 21px;
    &:after {
        @include underline;
        background: #8b54c7;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #8b54c7;
        }
    }
}
.francaise-menu-appetit, .francaise-menu-plaisir, .francaise-menu-gourmand {
    font-weight: bold;
}
.gradient1 {
    color: #c67412ff;
    line-height: 1.8em;
}
.gradient2 {
    color: #a56799ff;
    line-height: 1.8em;
}
.gradient3 {
    color: #8b54c7;
    margin-bottom: 30px;
    line-height: 2em;
}