.pap {
    background-color: $background_color_4;
}
.papilles_main {
    font-family: $font_family_6;
    padding-top: 60px;
    padding-bottom: 60px;
    @include flex;
    &__titre {
        @include papilles_titre_display;
        font-size: 4em;
    }
}
.papilles-menu-commencer {
    @include fonts_menu;
    &__titre {
        position: relative;
        padding: 30px;
    &:after {
        @include underline;
        background: #3f49b5;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #3f49b5;
        }
    }
}
.papilles-menu-continuer {
    @include fonts_menu;
    &__titre {
        position: relative;
        padding: 30px;
    &:after {
        @include underline;
        background: #4c77a8;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #4c77a8;
        }
    }
}
.papilles-menu-terminer {
    @include fonts_menu;
    &__titre {
        position: relative;
        padding: 30px;
    &:after {
        @include underline;
        background: #86a6d1;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #86a6d1;
        }
    }
}
.font3 {
    font-family: $font_family_7;
}