.pap {
    background-color: $background_color_4;
}
.papilles_main {
    font-family: $font_family_6;
    &__titre {
        @include papilles_titre_display;
            margin-bottom: 20px;
            font-size: 3em;
    }
}
.papilles-menu-commencer {
    @include fonts_menu;
    &__titre {
        position: relative;
    &:after {
        @include underline;
        background: #3f49b5;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #3f49b5;
        }
    }
}
.papilles-menu-continuer {
    @include fonts_menu;
    &__titre {
        position: relative;
    &:after {
        @include underline;
        background: #4c77a8;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #4c77a8;
        }
    }
}
.papilles-menu-terminer {
    @include fonts_menu;
    &__titre {
        position: relative;
    &:after {
        @include underline;
        background: #86a6d1;
        }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #86a6d1;
        }
    }
}
.font3 {
    font-family: $font_family_7;
    font-size: 1.4em;
    line-height: .1em;
}