.mentions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: $font_family_1;
}
.article-conteneur {
    margin: 20px 30px;
}
.def {
    margin-left: 10px;
    color: $color_1;
    background-color: $background_color_1;
}
.mod {
    margin-right: 10px;
    padding-left: 5px;
}
.txt {
    color: $color_1;
    background-color: $background_color_1;
}
.bloc {
    margin: 20px;
    padding: 10px;
    line-height: 1.6em;
    box-shadow: 4px 0px 8px 5px #cdcdcd80;
}