$color_1: #ffc107;
$color_4: lighten(#3e8e52, 10%); 
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: #289169;

$size: 42px;
$fw_low: 100;


$font_family_2: 'Devonshire', sans-serif;
$font_family_3: 'Kalam', sans-serif;
$color_2: darken(#f8e2df, 70%);
$background_color_2: #f8e2df;
$note_background: linear-gradient(to top right, #fa4b4b, #fa5650, #fb996d, #fba472, #fcb076, #fcbb7b, #fcc680);


$font_family_4: 'Redressed', sans-serif;
$font_family_5: 'Abril Fatface', sans-serif;
$color_3: darken($color_1, 30%);
$background_color_3: #fce4;
$chic_background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, 
#c367ad, #8b54c7);



$font_family_6: 'Alex Brush', sans-serif;
$font_family_7: 'Caveat', sans-serif;
$background_color_4: #f5f5f5;
$papilles_background: linear-gradient(to right, #3f49b5, #4252b2, #7396c3, #7c9eca, #86a6d1);



$font_family_8: 'Kaushan Script', sans-serif;
$background_color_5: #e6ebe4;
$palette_background: linear-gradient(to right, #51b04a, #58b659, #5fbb69, #97df89, #a9eb8f, #a4d385);
