/*ANIMATIONS DES POINTS DE SUSPENSION DU TITRE PROCHAINEMENT
==============================================================*/

.next {
	display: flex;
    align-items: center;
	width: 850px;
	height: 80px;
	border-radius: 12px;
	margin:auto;
	margin-top: 250px;
	margin-bottom: 150px;
	padding-right: 10px;
	@include logo-colors;
	&__proche {
		padding-left: 25px;
		font-size: 40px;
	}
	&__points {
		padding-top: 10px;
		font-size: 15px;
	}
	@media screen and (min-width: 320px) and (max-width: 479px) {
		.next {
			&__proche {
				font-size: 20px;
			}
		}
	}	
}
.dot1{
	animation: dot_anime 1.2s ease-in-out infinite; 
	padding-right: 5px;
}
.dot2{
	animation: dot_anime 1.2s 0.2s ease-in-out infinite;
	padding-right: 5px;
}
.dot3{
	animation: dot_anime 1.2s 0.4s ease-in-out infinite;
	padding-right: 10px;
}

@keyframes dot_anime {
    0%{
        opacity: 1; 
        transform: scale(1) translateY(0px);
    }
    50%{
        opacity: 0.6;
        transform: scale(1.4) translateY(-4px);
    }
    100%{
        opacity: 1; 
        transform: scale(1) translateY(0px);
    }
}