.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    /*avec la position: fixed, le footer sera visible même au scrolling*/
    bottom: 0;
    @include logo-colors;
        &__gauche {
            &:hover {
                 /*ci-dessous la mixin du tremblement des éléments du footer*/
                 @include shaking;
            }
        }
        &__droite {
            &:hover {
                /*ci-dessous la mixin du tremblement des éléments du footer*/
                @include shaking;
            }
        }
    }
a .foot__gauche, a .foot__droite {
    margin: .5em 1em;
    text-decoration: none;
    color: $color_1;
}
@media screen and (max-width: 450px) {
    .foot {
        flex-direction: column;
    }
}