footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    /*avec la position: fixed, le footer sera visible même au scrolling*/
    bottom: 0;
    @include logo-colors;
}