.conteneur {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 80px;
}
.main_contain {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 200px;
    border: 1px #efefef solid;
	box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
.section_container_menu {
    padding-bottom: 1em;
}
.deco_bar {
    display: flex;
    padding: 15px 50px;
    line-height: 1em;
    justify-content: space-between;
}
.menu {
    display: flex;
    line-height: 1.8em;
    &__texte {
        margin-left: 60px;
        flex: 1;
    }
    &__prix {
        margin-right: 60px;
    }
}
.menu_bas {
    margin-left: 60px;
    line-height: 1.8em;
}
.bottom {
    /*Un espacement vertical en bas de page pour le menu "papilles" et "palette"*/
    margin-bottom: 30px;
}
.large {
    /*Travail sur la font du menu "palette"*/
    font-size: 25px;
}
/*MEDIA QUERIES
==============================================================================*/
@media screen and (min-width: 320px) and (max-width: 768px) {
    .barre {
        /*Les décorations autour du nom des menus ne s'afficheront pas*/
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .section_container_menu {
        margin-left: 10px;
        margin-right: 10px;
    }
    .note-menu {
        @include auto_center;
        &__titre {
            font-size: 25px;
        }
    }
    .francaise-menu-appetit, .francaise-menu-plaisir, .francaise-menu-gourmand {
        @include auto_center;
    }
    .papilles-menu-commencer, .papilles-menu-continuer, .papilles-menu-terminer {
        @include auto_center;
        color: #3f49b5;
    }
    .palette-menu {
        @include auto_center;
        color: #51b04a;
    }
    .menu {
        display: block;
        line-height: 1.8em;
        &__texte {
            margin-left: auto;
            text-align: center;
        }
        &__prix {
            margin-left: 60px;
            text-align: center;
        }
    }
    .menu_bas {
        margin-left: auto;
        text-align: center;
        line-height: 2.4em;
    }
    .mentions {
        display: block;
        width: 100%;
    }
}