.conteneur {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 80px;
}
.main_contain {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border: 1px #efefef solid;
	box-shadow: 4px 0px 8px 5px #cdcdcd80;
}
.article_container_menu {
    padding-bottom: 60px;
}
.section_container_menu {
    padding-bottom: .5em;
}
.deco_bar {
    display: flex;
    padding: 1.5em 0 1.5em 0;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    padding-top: 5px;
    &__texte {
        margin-left: 50px;
        flex: 1;
    }
    &__prix {
        margin-right: 50px;
    }
}
.menu_bas {
    line-height: 13px;
    margin-left: 50px;
}
.space {
    padding-top: 15px;
}